body{
    font-family: 'Secular One', sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('/img/img1.jpg');
}
.left{
    display: inline-block;
    /* border: 2px solid red; */
    position: absolute;
    left: 62px;
    top: 28px;   
}
.left img{
    width: 67px;
    filter: invert(100%);
    position: relative;
    left: 32px;
}
.left div{
    text-align: center;
    font-size: 22px;
    line-height: 30px;
}
.mid{
    display: block;
    width: 41%;
    margin: 29px auto;
    /* border: 2px solid red; */
}
.right{
    position: absolute;
    right: 34px;
    top: 32px;
    display: inline-block;
    /* border: 2px solid red; */
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 22px;
    
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 34px 32px;
}
.navbar li a:hover , .navbar li a.active  {
    text-decoration: underline;
    color: rgb(181, 179, 179);
}
.btn{
    font-family: 'Secular One', sans-serif;
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 5px 18px;
    border: 2px solid grey;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}
.btn:hover{
    background-color: rgb(40, 37, 37);
}
.container{
    margin: 194px 80px;
    padding: 104px;
    width: 35%;
    /* border: 2px solid white; */
    border-radius: 28px;
}
.form-group input{
    font-family: 'Secular One', sans-serif;
    text-align: center;
    display: block;
    width: 485px;
    padding: 4px;
    border: 2px solid black;
    margin: 3px auto;
    border-radius: 8px; 
     
    
    font-size: 18px;
}
.container h1{
    text-align: center;
}
.container button{
    display: block;
    width: 494px;
    margin: 14px auto;
}